---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5684afa52b4e8a1e0bec1dbfb186b9aa7e5de93b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1383528605'
      Etag:
      - '"e3371263251848f7a02b18d936bac1f1"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - gist
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/gists/7294829","forks_url":"https://api.github.com/gists/7294829/forks","commits_url":"https://api.github.com/gists/7294829/commits","id":"7294829","git_pull_url":"https://gist.github.com/7294829.git","git_push_url":"https://gist.github.com/7294829.git","html_url":"https://gist.github.com/7294829","files":{"patrick.rb":{"filename":"patrick.rb","type":"application/ruby","language":"Ruby","raw_url":"https://gist.github.com/mrsquarepants/7294829/raw/305d29a94252617518e0157711920e95003a14e6/patrick.rb","size":15},"squidward.rb":{"filename":"squidward.rb","type":"application/ruby","language":"Ruby","raw_url":"https://gist.github.com/mrsquarepants/7294829/raw/18a145679f81ff73cd73765f56b0b24fc5ad3a8e/squidward.rb","size":18}},"public":true,"created_at":"2013-11-03T21:09:57Z","updated_at":"2013-11-03T21:12:45Z","description":"squidward''s
        and patrick''s description","comments":0,"user":{"login":"mrsquarepants","id":5673327,"avatar_url":"https://0.gravatar.com/avatar/98299151e49775648028a9d1157f39a1?d=https%3A%2F%2Fidenticons.github.com%2F2c6a1b2aec0ff646f3bc28eaf0422355.png&r=x","gravatar_id":"98299151e49775648028a9d1157f39a1","url":"https://api.github.com/users/mrsquarepants","html_url":"https://github.com/mrsquarepants","followers_url":"https://api.github.com/users/mrsquarepants/followers","following_url":"https://api.github.com/users/mrsquarepants/following{/other_user}","gists_url":"https://api.github.com/users/mrsquarepants/gists{/gist_id}","starred_url":"https://api.github.com/users/mrsquarepants/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mrsquarepants/subscriptions","organizations_url":"https://api.github.com/users/mrsquarepants/orgs","repos_url":"https://api.github.com/users/mrsquarepants/repos","events_url":"https://api.github.com/users/mrsquarepants/events{/privacy}","received_events_url":"https://api.github.com/users/mrsquarepants/received_events","type":"User","site_admin":false},"comments_url":"https://api.github.com/gists/7294829/comments"},{"url":"https://api.github.com/gists/032160785944af0856af","forks_url":"https://api.github.com/gists/032160785944af0856af/forks","commits_url":"https://api.github.com/gists/032160785944af0856af/commits","id":"032160785944af0856af","git_pull_url":"https://gist.github.com/032160785944af0856af.git","git_push_url":"https://gist.github.com/032160785944af0856af.git","html_url":"https://gist.github.com/032160785944af0856af","files":{"firstgist.md":{"filename":"firstgist.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.github.com/mrsquarepants/032160785944af0856af/raw/195059bd87469b3ba7ce01486ac44de60832ab7d/firstgist.md","size":12}},"public":false,"created_at":"2013-10-12T21:36:16Z","updated_at":"2013-10-12T21:36:17Z","description":"","comments":0,"user":{"login":"mrsquarepants","id":5673327,"avatar_url":"https://0.gravatar.com/avatar/98299151e49775648028a9d1157f39a1?d=https%3A%2F%2Fidenticons.github.com%2F2c6a1b2aec0ff646f3bc28eaf0422355.png&r=x","gravatar_id":"98299151e49775648028a9d1157f39a1","url":"https://api.github.com/users/mrsquarepants","html_url":"https://github.com/mrsquarepants","followers_url":"https://api.github.com/users/mrsquarepants/followers","following_url":"https://api.github.com/users/mrsquarepants/following{/other_user}","gists_url":"https://api.github.com/users/mrsquarepants/gists{/gist_id}","starred_url":"https://api.github.com/users/mrsquarepants/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mrsquarepants/subscriptions","organizations_url":"https://api.github.com/users/mrsquarepants/orgs","repos_url":"https://api.github.com/users/mrsquarepants/repos","events_url":"https://api.github.com/users/mrsquarepants/events{/privacy}","received_events_url":"https://api.github.com/users/mrsquarepants/received_events","type":"User","site_admin":false},"comments_url":"https://api.github.com/gists/032160785944af0856af/comments"}]'
  recorded_at: Mon, 04 Nov 2013 00:31:00 GMT
recorded_with: VCR 2.6.0
