---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5684afa52b4e8a1e0bec1dbfb186b9aa7e5de93b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1382937771'
      Etag:
      - '"d193e9262be475e93d094c1c01ecefe2"'
      X-Oauth-Scopes:
      - gist
      X-Accepted-Oauth-Scopes:
      - gist
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/gists/032160785944af0856af","forks_url":"https://api.github.com/gists/032160785944af0856af/forks","commits_url":"https://api.github.com/gists/032160785944af0856af/commits","id":"032160785944af0856af","git_pull_url":"https://gist.github.com/032160785944af0856af.git","git_push_url":"https://gist.github.com/032160785944af0856af.git","html_url":"https://gist.github.com/032160785944af0856af","files":{"firstgist.md":{"filename":"firstgist.md","type":"text/plain","language":"Markdown","raw_url":"https://gist.github.com/mrsquarepants/032160785944af0856af/raw/195059bd87469b3ba7ce01486ac44de60832ab7d/firstgist.md","size":12}},"public":false,"created_at":"2013-10-12T21:36:16Z","updated_at":"2013-10-12T21:36:17Z","description":"","comments":0,"user":{"login":"mrsquarepants","id":5673327,"avatar_url":"https://0.gravatar.com/avatar/98299151e49775648028a9d1157f39a1?d=https%3A%2F%2Fidenticons.github.com%2F2c6a1b2aec0ff646f3bc28eaf0422355.png&r=x","gravatar_id":"98299151e49775648028a9d1157f39a1","url":"https://api.github.com/users/mrsquarepants","html_url":"https://github.com/mrsquarepants","followers_url":"https://api.github.com/users/mrsquarepants/followers","following_url":"https://api.github.com/users/mrsquarepants/following{/other_user}","gists_url":"https://api.github.com/users/mrsquarepants/gists{/gist_id}","starred_url":"https://api.github.com/users/mrsquarepants/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mrsquarepants/subscriptions","organizations_url":"https://api.github.com/users/mrsquarepants/orgs","repos_url":"https://api.github.com/users/mrsquarepants/repos","events_url":"https://api.github.com/users/mrsquarepants/events{/privacy}","received_events_url":"https://api.github.com/users/mrsquarepants/received_events","type":"User","site_admin":false},"comments_url":"https://api.github.com/gists/032160785944af0856af/comments"}]'
  recorded_at: Mon, 28 Oct 2013 04:22:55 GMT
recorded_with: VCR 2.6.0
